@media screen and (min-width: 1200px) {
  .all_products {
    background-color: var(--bg-color);
  }

  .all_products_container {
    display: flex;
    gap: 20px;
  }

  .all_products_container .product_filter {
    padding: 10px 15px;
    background-color: var(--primary);
    width: 25%;
  }

  .product_filter_title {
    color: var(--bg-color);
    font-size: 23px;
    margin-bottom: 15px;
  }

  .product_filter .dropDown_label {
    color: var(--bg-color);
  }

  .product_filter button {
    width: 100%;
  }

  .all_products_container .product_list {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}
