@media screen and (min-width: 992px) {
  .check_out {
    background-color: var(--bg-color);
    min-height: 92dvh;
  }

  .check_out h1 {
    font-size: 36px;
    color: var(--main-color);
    position: relative;
  }

  .check_out h1::after {
    content: "";
    padding: 1px;
    background-color: var(--main-color);
    position: absolute;
    width: 280px;
    bottom: 0;
    left: 0;
  }

  .checkout_address {
    margin: 30px 0px;
  }

  .checkout_address h3 {
    font-size: 32px;
    color: var(--text-color);
    text-transform: capitalize;
  }

  .checkout_address p {
    font-size: 18px;
    color: var(--text-color);
  }

  .checkout_address p a {
    color: var(--main-color);
    text-decoration: underline;
  }

  .checkout_items {
    margin: 40px 0px;
  }

  .checkout_items h3 {
    color: var(--text-color);
    margin-bottom: 10px;
    font-size: 32px;
  }

  .checkout_shipping {
    margin: 40px 0px;
  }

  .checkout_shipping .shipping_header {
    font-size: 32px;
    color: var(--text-color);
    margin-bottom: 10px;
  }

  .checkout_shipping_card {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--main-color);
    width: 300px;
  }

  .checkout_shipping_container {
    display: flex;
    justify-content: space-between;
  }

  .checkout_shipping_container h3 {
    font-size: 22px;
  }

  .checkout_shipping_container p {
    font-size: 18px;
  }

  .checkout_payment {
    margin: 40px 0px;
  }

  .checkout_payment h3 {
    font-size: 32px;
    color: var(--text-color);
  }

  .checkout_payment_container {
    display: flex;
    gap: 20px;
  }

  .checkout_payment_details {
    margin: 40px 0px;
    width: 50%;
    padding: 15px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
  }

  .checkout_payment_details .header {
    margin-bottom: 10px;
  }

  .checkout_payment_details .header h3 {
    font-size: 32px;
    color: var(--text-color);
  }

  .checkout_payment_details .header small {
    font-size: 14px;
    color: var(--text-color);
  }

  .total_payment {
    margin-top: 10px !important;
  }

  .checkout_btn {
    margin-top: 20px;
  }

  .checkout_btn button {
    width: 100%;
  }
}

@media screen and (768px <= width <= 992px) {
  .check_out {
    background-color: var(--bg-color);
    min-height: 92dvh;
  }

  .check_out h1 {
    font-size: 32px;
    color: var(--main-color);
    position: relative;
  }

  .check_out h1::after {
    content: "";
    padding: 1px;
    background-color: var(--main-color);
    position: absolute;
    width: 280px;
    bottom: 0;
    left: 0;
  }

  .checkout_address {
    margin: 30px 0px;
  }

  .checkout_address h3 {
    font-size: 29px;
    color: var(--text-color);
    text-transform: capitalize;
  }

  .checkout_address p {
    font-size: 17px;
    color: var(--text-color);
  }

  .checkout_address p a {
    color: var(--main-color);
    text-decoration: underline;
    font-size: 17px;
  }

  .checkout_items {
    margin: 40px 0px;
  }

  .checkout_items h3 {
    color: var(--text-color);
    margin-bottom: 10px;
    font-size: 29px;
  }

  .checkout_shipping {
    margin: 40px 0px;
  }

  .checkout_shipping .shipping_header {
    font-size: 29px;
    color: var(--text-color);
    margin-bottom: 10px;
  }

  .checkout_shipping_card {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--main-color);
    width: 300px;
  }

  .checkout_shipping_container {
    display: flex;
    justify-content: space-between;
  }

  .checkout_shipping_container h3 {
    font-size: 20px;
  }

  .checkout_shipping_container p {
    font-size: 17px;
  }

  .checkout_payment {
    margin: 40px 0px;
  }

  .checkout_payment h3 {
    font-size: 29px;
    color: var(--text-color);
  }

  .checkout_payment_container {
    display: flex;
    gap: 20px;
  }

  .checkout_payment_details {
    margin: 20px 0px;
    width: 70%;
    padding: 15px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
  }

  .checkout_payment_details .header {
    margin-bottom: 10px;
  }

  .checkout_payment_details .header h3 {
    font-size: 29px;
    color: var(--text-color);
  }

  .checkout_payment_details .header small {
    font-size: 14px;
    color: var(--text-color);
  }

  .total_payment {
    margin-top: 10px !important;
  }

  .checkout_btn {
    margin-top: 20px;
  }

  .checkout_btn button {
    width: 100%;
  }
}

@media screen and (575px <= width <= 768px) {
  .check_out {
    background-color: var(--bg-color);
    min-height: 92dvh;
  }

  .check_out h1 {
    font-size: 29px;
    color: var(--main-color);
    position: relative;
  }

  .check_out h1::after {
    content: "";
    padding: 1px;
    background-color: var(--main-color);
    position: absolute;
    width: 250px;
    bottom: 0;
    left: 0;
  }

  .checkout_address {
    margin: 20px 0px;
  }

  .checkout_address h3 {
    font-size: 26px;
    color: var(--text-color);
    text-transform: capitalize;
  }

  .checkout_address p {
    font-size: 16px;
    color: var(--text-color);
  }

  .checkout_address p a {
    color: var(--main-color);
    text-decoration: underline;
    font-size: 16px;
  }

  .checkout_items {
    margin: 20px 0px;
  }

  .checkout_items h3 {
    color: var(--text-color);
    margin-bottom: 10px;
    font-size: 26px;
  }

  .checkout_shipping {
    margin: 20px 0px;
  }

  .checkout_shipping .shipping_header {
    font-size: 26px;
    color: var(--text-color);
    margin-bottom: 10px;
  }

  .checkout_shipping_card {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--main-color);
    width: 300px;
  }

  .checkout_shipping_container {
    display: flex;
    justify-content: space-between;
  }

  .checkout_shipping_container h3 {
    font-size: 20px;
  }

  .checkout_shipping_container p {
    font-size: 17px;
  }

  .checkout_payment {
    margin: 40px 0px;
  }

  .checkout_payment h3 {
    font-size: 26px;
    color: var(--text-color);
  }

  .checkout_payment_container {
    display: flex;
    gap: 20px;
  }

  .checkout_payment_details {
    margin: 20px 0px;
    width: 100%;
    padding: 15px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
  }

  .checkout_payment_details .header {
    margin-bottom: 10px;
  }

  .checkout_payment_details .header h3 {
    font-size: 26px;
    color: var(--text-color);
  }

  .checkout_payment_details .header small {
    font-size: 14px;
    color: var(--text-color);
  }

  .total_payment {
    margin-top: 10px !important;
  }

  .checkout_btn {
    margin-top: 20px;
  }

  .checkout_btn button {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .check_out {
    background-color: var(--bg-color);
    min-height: 92dvh;
  }

  .check_out h1 {
    font-size: 27px;
    color: var(--main-color);
    position: relative;
  }

  .check_out h1::after {
    content: "";
    padding: 1px;
    background-color: var(--main-color);
    position: absolute;
    width: 250px;
    bottom: 0;
    left: 0;
  }

  .checkout_address {
    margin: 20px 0px;
  }

  .checkout_address h3 {
    font-size: 24px;
    color: var(--text-color);
    text-transform: capitalize;
  }

  .checkout_address p {
    font-size: 16px;
    color: var(--text-color);
  }

  .checkout_address p a {
    color: var(--main-color);
    text-decoration: underline;
    font-size: 16px;
  }

  .checkout_items {
    margin: 20px 0px;
  }

  .checkout_items h3 {
    color: var(--text-color);
    margin-bottom: 10px;
    font-size: 24px;
  }

  .checkout_shipping {
    margin: 20px 0px;
  }

  .checkout_shipping .shipping_header {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 10px;
  }

  .checkout_shipping_card {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--main-color);
  }

  .checkout_shipping_container {
    display: flex;
    justify-content: space-between;
  }

  .checkout_shipping_container h3 {
    font-size: 20px;
  }

  .checkout_shipping_container p {
    font-size: 17px;
  }

  .checkout_payment {
    margin: 40px 0px;
  }

  .checkout_payment h3 {
    font-size: 24px;
    color: var(--text-color);
  }

  .checkout_payment_container {
    display: flex;
    gap: 20px;
  }

  .checkout_payment_details {
    margin: 20px 0px;
    width: 100%;
    padding: 15px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
  }

  .checkout_payment_details .header {
    margin-bottom: 10px;
  }

  .checkout_payment_details .header h3 {
    font-size: 26px;
    color: var(--text-color);
  }

  .checkout_payment_details .header small {
    font-size: 14px;
    color: var(--text-color);
  }

  .total_payment {
    margin-top: 10px !important;
  }

  .checkout_btn {
    margin-top: 20px;
  }

  .checkout_btn button {
    width: 100%;
  }
}
