@font-face {
  font-family: gelion_bold;
  src: url("../fonts/Gelion Bold.ttf");
}

@font-face {
  font-family: gelion_reg;
  src: url("../fonts/Gelion Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

:root {
  --bg-color: #2f2f2f;
  --sub-color: #3b3a3a;
  --text-color: #f6f6f6;
  --main-color: #ffcb74;

  --plain: #f6f6f6;
  --plain-hover: #b9b9b9;

  --primary: #ffcb74;
  --primary-hover: #e4b970;

  --danger: rgb(241, 101, 101);
  --danger-hover: rgb(201, 57, 57);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: gelion_bold;
}

p,
a,
input,
button,
small,
li,
label {
  font-family: gelion_reg;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.divider {
  padding: 1px;
  width: 100%;
  background-color: var(--main-color);
}

.slick-track {
  display: flex !important;
  gap: 1rem;
}

@media screen and (min-width: 1500px) {
  .padded_page {
    min-height: 92dvh;
    padding: 80px 0px;
  }
  .container {
    max-width: 1350px;

    margin: 0 auto;
  }
}

@media screen and (1200px <= width <= 1500px) {
  .container {
    max-width: 1140px;

    margin: 0 auto;
  }

  .padded_page {
    min-height: 92dvh;
    padding: 75px 0px;
  }
}
@media screen and (992px <= width <= 1199px) {
  .padded_page {
    min-height: 92dvh;
    padding: 65px 0px;
  }
  .container {
    max-width: 960px;

    margin: 0 auto;
  }
}

@media screen and (768px <= width <= 992px) {
  .padded_page {
    min-height: 92dvh;
    padding: 50px 0px;
  }
  .container {
    max-width: 740px;

    margin: 0 auto;
  }
}

@media screen and (575px <= width <= 768px) {
  .padded_page {
    min-height: 92dvh;
    padding: 45px 0px;
  }
  .container {
    max-width: 540px;

    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) {
  .padded_page {
    min-height: 90dvh;
    padding: 40px 0px;
  }
  .container {
    padding: 0px 20px;
  }
}
