.no_page {
  min-height: 92dvh;

  display: grid;
  place-content: center;
}

.no_page img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.no_page .btn1 {
  text-align: center;
}
.no_page .text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}
.no_page .error-text {
  text-align: center;
  padding: 20px;
  font-family: Cursive;
}
.no_page .error {
  font-family: gelion_bold;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  background: var(--main-color);
  color: #fff;
  border-radius: 10px;
}
