@media screen and (min-width: 1200px) {
  .button {
    display: block;
    text-align: center;
    border-radius: 21px;
    transition: all 0.3s;
  }

  .large {
    width: 100px;
    padding: 6px;
    font-size: 21px;
  }

  .medium {
    width: 90px;
    padding: 6px;
    font-size: 18px;
  }

  .small {
    width: 80px;
    padding: 6px;
    font-size: 16px;
  }

  .primary {
    background-color: var(--main-color);
    color: var(--sub-color);
  }

  .primary:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
  }
}
