@media screen and (min-width: 1200px) {
  .button {
    display: block;
    text-align: center;
    border-radius: 21px;
    transition: all 0.3s;
    cursor: pointer;
    color: var(--sub-color);
  }

  .loading {
    /* cursor: not-allowed; */
    pointer-events: none;
  }

  .not_available {
    pointer-events: none;
  }

  .large {
    width: 100px;
    padding: 6px;
    font-size: 21px;
  }

  .medium {
    width: 90px;
    padding: 6px;
    font-size: 18px;
  }

  .small {
    width: 80px;
    padding: 6px;
    font-size: 16px;
  }

  .x_small {
    width: 70px;
    padding: 4px;
    font-size: 14px;
  }

  .plain {
    background-color: var(--plain);
    /* color: var(--sub-color); */
    border: 1px solid var(--plain);
  }

  .plain:hover {
    background-color: var(--plain-hover);

    border: 1px solid var(--plain-hover);
  }

  .primary {
    background-color: var(--primary);
    color: var(--sub-color);
    border: 1px solid var(--primary);
  }

  .primary:hover {
    background-color: var(--primary-hover);
  }

  .danger {
    border: 1px solid var(--danger);
    background-color: var(--danger);
    color: var(--text-color);
  }

  .danger:hover {
    background-color: var(--danger-hover);
    color: var(--text-color);
  }
}
