@media screen and (min-width: 200px) {
  .slider_container {
    margin-top: 10px;

    display: block;
  }

  .image_slider {
    display: flex;
    width: 100%;

    gap: 20px;
    margin-top: 20px;
  }

  .slider_container img {
    display: block !important;
    width: 17.5%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in;
  }

  .slider_container .active {
    border: 3px solid var(--main-color);
  }

  .slick-dots li {
    margin: 0;
  }

  .slick-dots li button:before {
    color: var(--text-color);
    opacity: 0.75;
  }

  .slick-dots li.slick-active button:before {
    color: var(--main-color);
  }
}
