@media screen and (min-width: 1500px) {
  .product_card {
    display: block;
    background-color: var(--sub-color);
    min-height: 300px;
    max-height: 300px;
  }

  .product_card_info {
    padding: 5px 10px;
  }

  .product_card_info .title {
    margin-top: 5px;
    margin-bottom: 10px;

    max-height: 30px;
  }

  .product_card_info .title p {
    color: var(--text-color);
    line-height: 1.1;
    font-size: 14px;
  }

  .product_card_info .price h4 {
    color: var(--main-color);
  }

  .product_card_info .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 10px; */
  }

  .product_card_info .stats p {
    color: var(--text-color);
  }

  .product_card_info .stats span {
    font-size: 25px;
  }
}

@media screen and (1200px <= width <= 1500px) {
  .product_card {
    display: block;
    background-color: var(--sub-color);
    min-height: 270px;
    max-height: 270px;
  }

  .product_card_info {
    padding: 5px 10px;
  }

  .product_card_info .title {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .product_card_info .title p {
    display: block;
    color: var(--text-color);
    line-height: 1.1;
    font-size: 14px;
    text-overflow: ellipsis;
  }

  .product_card_info .price h4 {
    color: var(--main-color);
  }

  .product_card_info .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 10px; */
  }

  .product_card_info .stats p {
    color: var(--text-color);
  }

  .product_card_info .stats span {
    font-size: 25px;
  }
}

@media screen and (768px <= width <= 1199px) {
  .product_card {
    display: block;
    background-color: var(--sub-color);
    min-height: 280px;
    max-height: 280px;
  }

  .product_card_info {
    padding: 5px 10px;
  }

  .product_card_info .title {
    margin-top: 5px;
    margin-bottom: 10px;
    /* background-color: red; */
    min-height: 30px;
  }

  .product_card_info .title p {
    color: var(--text-color);
    line-height: 1.1;
    font-size: 14px;
  }

  .product_card_info .price h4 {
    color: var(--main-color);
  }

  .product_card_info .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 10px; */
  }

  .product_card_info .stats p {
    color: var(--text-color);
  }

  .product_card_info .stats span {
    font-size: 25px;
  }
}

@media screen and (575px <= width <= 768px) {
  .product_card {
    display: block;
    background-color: var(--sub-color);
    min-height: 260px;
    max-height: 310px;
  }

  .product_card_info {
    padding: 5px 10px;
  }

  .product_card_info .title {
    margin-top: 5px;
    margin-bottom: 10px;
    /* background-color: red; */
    min-height: 30px;
  }

  .product_card_info .title p {
    color: var(--text-color);
    line-height: 1.1;
    font-size: 14px;
  }

  .product_card_info .price h4 {
    color: var(--main-color);
  }

  .product_card_info .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 10px; */
  }

  .product_card_info .stats p {
    color: var(--text-color);
  }

  .product_card_info .stats span {
    font-size: 25px;
  }
}

@media screen and (max-width: 575px) {
  .product_card {
    display: block;
    background-color: var(--sub-color);
    min-height: 240px;
    max-height: 310px;
    position: relative;
  }

  .product_card_info {
    padding: 5px 10px;
  }

  .product_card_info .title {
    margin-top: 5px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .product_card_info .title p {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-color);
    line-height: 1.1;
    font-size: 14px;
  }

  .product_card_info .price h4 {
    color: var(--main-color);
  }

  .product_card_info .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 10px; */
  }

  .product_card_info .stats p {
    color: var(--text-color);
  }

  .product_card_info .stats span {
    font-size: 25px;
  }
}
