@media screen and (min-width: 1200px) {
  .form_input_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .form_input_container label {
    font-size: 18px;
    color: var(--main-color);
    margin-bottom: 5px;
  }

  .form_input_container input {
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    font-family: gelion_reg;
  }

  .form_input_container select {
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    font-family: gelion_reg;
  }

  .form_input_container textarea {
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    font-family: gelion_reg;
    min-height: 100px;
    resize: none;
  }

  .form_input_container .form_error {
    margin-top: 5px;
    color: #f15d65a4;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
