@media screen and (min-width: 1200px) {
  .nav_top {
    padding: 15px 0px;
    background-color: var(--bg-color);
  }

  .nav_top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav_top .logo a {
    font-size: 40px;
    font-family: gelion_bold;
    color: var(--main-color);
  }

  .nav_top li a {
    position: relative;
  }

  #top_nav_cart::after {
    content: attr(data-count);
    font-size: 13px;
    position: absolute;
    color: var(--text-color);
    font-family: gelion_bold;
    background-color: var(--danger);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    top: -0.75em;
    right: -1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_top ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav_top ul a {
    color: var(--text-color);
    font-size: 21px;
    transition: all 0.3s;
  }

  .nav_top ul a:hover,
  .nav_top ul a.active {
    color: var(--main-color);
  }
}

@media screen and (992px <= width <= 1199px) {
  .nav_top {
    padding: 10px 0px;
    background-color: var(--bg-color);
  }

  .nav_top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav_top .logo a {
    font-size: 37px;
    font-family: gelion_bold;
    color: var(--main-color);
  }

  .nav_top li a {
    position: relative;
  }

  #top_nav_cart::after {
    content: attr(data-count);
    font-size: 13px;
    position: absolute;
    color: var(--text-color);
    font-family: gelion_bold;
    background-color: var(--danger);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    top: -0.75em;
    right: -1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_top ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav_top ul a {
    color: var(--text-color);
    font-size: 20px;
    transition: all 0.3s;
  }

  .nav_top ul a:hover,
  .nav_top ul a.active {
    color: var(--main-color);
  }
}
