@media screen and (min-width: 1200px) {
  .nav_top {
    padding: 15px 0px;
    background-color: var(--bg-color-);
  }

  .nav_top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav_top .logo a {
    font-size: 40px;
    font-family: gelion_bold;
    color: var(--main-color);
  }

  .nav_top ul {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .nav_top ul a {
    color: var(--text-color);
    font-size: 21px;
    transition: all 0.3s;
  }

  .nav_top ul a:hover {
    color: var(--main-color);
  }

  /* .nav_top .nav_auth a {
    display: block;
    background-color: var(--main-color);
    color: var(--sub-color);
    width: 100px;
    text-align: center;
    padding: 6px;
    border-radius: 21px;
    transition: all 0.3s;
    font-size: 21px;
  } */
}
